{
  "$schema": "https://json.schemastore.org/prettierrc",
  "semi": true,
  "useTabs": false,
  "tabWidth": 2,
  "proseWrap": "always",
  "printWidth": 120,
  "quoteProps": "as-needed",
  "arrowParens": "always",
  "endOfLine": "lf",
  "singleQuote": true,
  "insertPragma": false,
  "requirePragma": false,
  "trailingComma": "all",
  "bracketSpacing": true,
  "jsxSingleQuote": false,
  "bracketSameLine": true,
  "experimentalTernaries": true,
  "singleAttributePerLine": false,
  "htmlWhitespaceSensitivity": "css",
  "embeddedLanguageFormatting": "auto"
}
